.todos-container {
  flex-grow: 1;
  margin: 6vh 0;
  overflow: auto;
  padding: 0 2vw;

  /* https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */
  background:
    /* Shadow Cover TOP */ linear-gradient(
        var(--bkg) 30%,
        rgba(255, 255, 255, 0)
      )
      center top,
    /* Shadow Cover BOTTOM */
      linear-gradient(rgba(255, 255, 255, 0), var(--bkg) 70%) center bottom,
    /* Shadow TOP */
      radial-gradient(
        farthest-side at 50% 0,
        rgba(var(--color-rgb), 0.3),
        rgba(var(--color-rgb), 0)
      )
      center top,
    /* Shadow BOTTOM */
      radial-gradient(
        farthest-side at 50% 100%,
        rgba(var(--color-rgb), 0.3),
        rgba(var(--color-rgb), 0)
      )
      center bottom;

  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.todo {
  align-items: center;
  border-bottom: 1px solid rgba(var(--color-rgb), 0.3);
  cursor: pointer;
  display: flex;
  padding: 1vh 2vw;
}

.todo:hover,
.todo:focus-within {
  background: rgba(var(--color-rgb), 0.08);
}

.todo:hover .button__del,
.todo:focus-within .button__del {
  opacity: 1;
}

.todo .todo__content {
  -webkit-hyphens: auto;
  cursor: pointer;
  flex-grow: 1;
  hyphens: auto;
  overflow-wrap: anywhere;
  padding: 0.7rem;
  word-break: normal;
}

.button__del {
  background: rgba(var(--bkg-rgb), 0.8);
  color: rgba(var(--color-rgb), 0.5);
  opacity: 0;
  padding: 0.5rem 0.75rem;
}

.sync-container {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.8rem;
  padding-top: 0.5rem;
  text-align: right;
}
