:root {
  --bkg: #f6f6f6;
  --bkg-rgb: 255, 255, 255;
  --btn-bkg: #ffffff;
  --btn-color: #0f0f0f;
  --color: #0f0f0f;
  --color-rgb: 0, 0, 0;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--color);
  background-color: var(--bkg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 6vh);
  justify-content: center;
  margin: 0;
  padding: 6vh 4vw 0;
  text-align: left;
}

.row {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

input,
button {
  background-color: var(--btn-bkg);
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: var(--btn-color);
  flex-shrink: 0;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  border-color: #396cd8;
}

button {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bkg: #101010;
    --bkg-rgb: 0, 0, 0;
    --btn-bkg: #1f1f1f;
    --btn-color: #ffffff;
    --color: #f6f6f6;
    --color-rgb: 255, 255, 255;
  }
}
